.aboutsection{
    display: flex;
    flex-direction: row;
    /* z-index: 10; */
}
.aboutleft{
    width: 50%;
    height: 100vh;
    background-color: #32564C;
    display: flex;
    z-index: -2;
    /* align-items: center; */
    flex-wrap: wrap;
    /* justify-content: center; */
    grid-template-columns: 1fr 1fr;
}
.aboutleft img{
    width: 7rem;
    height: 7rem;
    /* margin: 15px; */
    margin-left: 60px;
    /* margin-top: 30px; */
}
#about1{
    width: 21rem;
    height: 14rem;
    margin-top: 60px;
    margin-right: -20px;
}
#about2{
    margin-top: 20px;
    width: 14rem;
    height: 21rem;
}
#about3{
    margin-top: -40px;
    margin-right: -20px;
    width: 14rem;
    height: 21rem;
    z-index: 10;
}
#about4{
    margin-top: 20px;
    width: 21rem;
    height: 14rem;
    z-index: 10;
}
.aboutdesign{
    width: 36rem;
    height: 50.5rem;
    border-top-right-radius: 0%;
    z-index: 5;
    background-color: #D77512;
    position: relative;
    top: 15px;
    bottom: 8rem;
}
/* #above4::before{
    content: "";
    background-color: #D77512;
    width: inherit;
    height: inherit;
} */
.aboutright{
    width: 50%;
    height: 100vh;
    background-color: #97ABA6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -2;
}
.heading-landing-about-head{
    font-family: "Big Shoulders Display", cursive;
        font-style: normal;
        font-weight: bold;
        font-size: 74px;
        line-height: 142px;
        letter-spacing: 0.085em;
        margin-bottom: 50px;
        color: rgb(50, 86, 76);

    text-transform: uppercase;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.underline{
    width: 80%;
    height: 5px;
    background-color: #D77512;
}

.aboutcon{
    margin: 15px;
    margin-top: 30px;
    margin-bottom: 5%;
    font-size: 40px;
    color: #eaeaea;
    text-transform: capitalize;
}
.knowmoreabout{
    margin-top: 20px;
    height: 2rem;
    width: 10rem;
    color: #fff;
    text-decoration: none;
    background-color: #32564C;
    /* border-radius: 30px; */
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3),
                0px -5px 15px -5px rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}
.knowmoreabout:hover{
    border-radius: 5px;
    background-color: #D77512;
    color: #32564C;
    font-weight: 700;
    box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.3),
                inset 0px -5px 15px -5px rgba(255, 255, 255, 0.3);
}
.svg-aboutsection-topleftdiv{
    position: absolute;
    /* top: 100px; */
    /* z-index: 100; */
    left: 10px;
}

@media(max-width: 1500px){


.heading-landing-about-head{
    margin-left: 0%;
    margin-right: 0%;
    }
}

@media(max-width: 1400px){

    .heading-landing-about-head{
        font-size: 64px;
        line-height: 122px;
        letter-spacing: 0.085em;
        margin-bottom: 30px;
    }

    #about1{
        width: 19rem;
        height: 12rem;
        margin-top: 60px;
        margin-right: -20px;
    }
    #about2{
        margin-top: 20px;
        width: 12rem;
        height: 19rem;
    }
    #about3{
        margin-top: -40px;
        margin-right: -20px;
        width: 12rem;
        height: 19rem;
        z-index: 10;
    }
    #about4{
        margin-top: 20px;
        width: 19rem;
        height: 12rem;
        z-index: 10;
    }

    .aboutdesign{
        height: 7.5rem;
    } 
}

@media(max-width: 1250px){
    .aboutdesign{
        display: none;
    } 

    .svg-aboutsection-topleftdiv{
        display: none;
    }

    .heading-landing-about-head{
        font-size: 54px;
        line-height: 122px;
        letter-spacing: 0.085em;
        margin-bottom: 30px;
    }

    .aboutleft img {
        width: 7rem;
        height: 7rem;
        /* margin: 15px; */
        margin-left: 30px;
        /* margin-top: 30px; */
    }

}

@media(max-width: 1100px){
    .aboutsection{
        display: flex;
        flex-direction: column-reverse;
    }

    .heading-landing-about-head{
        font-size: 44px;
        line-height: 122px;
        letter-spacing: 0.085em;
        margin-bottom: 20px;
    }

    .aboutright, .aboutleft{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .aboutright{
        padding: 2rem;
    }

}   

@media(max-width: 500px){
    .heading-landing-about-head{
        font-size: 34px;
        line-height: 102px;
        letter-spacing: 0.065em;
        margin-bottom: 20px;
    }

    .aboutcon {
        margin: 15px;
        margin-top: 20px;
        margin-bottom: 5%;
        font-size: 30px;
        color: #eaeaea;
        text-transform: capitalize;
    }

    #about3{
        margin-top: 18px;
        margin-right: -20px;
        width: 12rem;
        height: 19rem;
        z-index: 10;
    }
}

